#dir
.DS_Store
.buildpath
.git
.gitee
.idea
.project
.settings
.user.ini
.vscode

#file
*.bin
*.cgo*.c
*.cgo*.go
*.dll
*.dylib
*.exe
*.exe~
*.log
*.orig
*.out
*.patch
*.pid
*.pyc
*.rej
*.so
*.test
*~
.*.swp
._*
.nfs.*
_cgo_*
_obj
_test
core
thumbs.db

vendor/!modules.txt